<div class="header text-center">
  <div class="links">
    <ul class="list-unstyled list-inline">
      <li><%= link_to "Bio", "index.html" %></li>
      <li><%= link_to "Projects", "projects.html" %></li>
      <li><%= link_to "Contact", "contact.html" %></li>
    </ul>
  </div>
  <div class="header-info">
    <%= image_tag "vincent.jpg", class: "avatar-large" %>
    <h1>Vincent Rolea</h1>
    <h3>Ruby on Rails Developer</h3>
  </div>
</div>
