<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="project-card">
        <div class="project-image-wrapper">
          <%= image_tag "airscape.png", class: "project-image" %>
          <div class="overpanel">
            <h3>AIRSCAPE</h3>
          </div>
        </div>
        <div class="project-info">
          <h3>Airscape</h3>
          <p>
            Airscape is a photo sharing platform dedicated to panorama photo only. Thanks to our panorama viewer, users can scroll through their photos and see/share all the details with their followers. Aisrcape adds a new dimensions to photos as people can spatially comment them: the place where the photo has been commented is saved.
          </p>
          <h4>Technologies used:</h4>
          <p>
            <span class="label label-primary"><i class="fa fa-diamond"></i>   Ruby</span>
            <span class="label label-primary"><i class="fa fa-cog"></i>   Rails</span>
            <span class="label label-primary"><i class="fa fa-database"></i>   PostgreSQL</span>
            <span class="label label-primary"><i class="fa fa-chrome"></i>   Javascript</span>
          </p>
        </div>
        <a href="http://www.airscape.io" class="btn btn-primary btn-project" target="_blank">Visit Website</a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="project-card">
        <div class="project-image-wrapper">
          <%= image_tag "widenn.png", class: "project-image" %>
          <div class="overpanel">
            <h3>WIDENN</h3>
          </div>
        </div>
        <div class="project-info">
          <h3>Widenn</h3>
          <p>
            Widenn is an international hub dedicated to TV authors. Widenn allows content creators to promote their creations internationally, therefore stimulate collaboration and communications between TV authors. The platform also allows TV authors to manage the content they create and offer a variety of tools dedicated to their activity.
          </p>
          <h4>Technologies used:</h4>
          <p>
            <span class="label label-success"><i class="fa fa-diamond"></i>   Ruby</span>
            <span class="label label-success"><i class="fa fa-cog"></i>   Rails</span>
            <span class="label label-success"><i class="fa fa-database"></i>   PostgreSQL</span>
            <span class="label label-success"><i class="fa fa-chrome"></i>   Javascript</span>
          </p>
        </div>
        <a href="http://www.widenn.com" class="btn btn-success btn-project" target="_blank">Visit Website</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="project-card">
        <div class="project-image-wrapper">
          <%= image_tag "craigsgist.png", class: "project-image" %>
          <div class="overpanel">
            <h3>CRAIGSGIST</h3>
          </div>
        </div>
        <div class="project-info">
          <h3>CraigsGist</h3>
          <p>
            CraigsGist is a funnily designed website where you can upload your code snippets. It supports several languages (Ruby, PHP, JS...), allows public/private upload as well as browsing all public Gists.
          </p>
          <h4>Technologies used:</h4>
          <p>
            <span class="label label-info"><i class="fa fa-diamond"></i>   Ruby</span>
            <span class="label label-info"><i class="fa fa-cog"></i>   Rails</span>
            <span class="label label-info"><i class="fa fa-database"></i>   MySQL</span>
            <span class="label label-info"><i class="fa fa-chrome"></i>   Javascript</span>
          </p>
        </div>
        <a href="http://craigsgist.herokuapp.com" class="btn btn-info btn-project" target="_blank">Visit Website</a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="project-card">
        <div class="project-image-wrapper">
          <%= image_tag "honker.png", class: "project-image" %>
          <div class="overpanel">
            <h3>HONKER</h3>
          </div>
        </div>
        <div class="project-info">
          <h3>Honker</h3>
          <p>
            Honker is a Web and iOS app dedicated to car-spotters and car-lovers. The app allows one to upload the location of an exotic car in real time, the location is then sync across all users in the area instantly. The app is still in testing today, and will be uploaded to the app store soon. For Android users, the web app will feature a map with the current locations reported.
          </p>
          <h4>Technologies used:</h4>
          <p>
            <span class="label label-danger"><i class="fa fa-apple"></i>   Swift</span>
            <span class="label label-danger"><i class="fa fa-mobile"></i>   iOS</span>
            <span class="label label-danger"><i class="fa fa-database"></i>   Firebase</span>
          </p>
        </div>
        <a href="http://www.honker.io" class="btn btn-danger btn-project" target="_blank">Visit Website</a>
      </div>
    </div>
  </div>
</div>
